{% extends 'public.html.twig' %}

{% block title %}Головна{% endblock %}

{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css?v=1.0">
    <link rel="stylesheet" href="/css/index-page.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/index-page_responsive.css?v=1.0">
{% endblock %}
{% block body %}
    {% set categories = all_categories() %}
    {% include 'elements/mobile_header.html.twig' %}
    <div class="main_wrapper wrapper  page-wrapper">
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
                {% include 'elements/header.html.twig' %}
                <span class="page-hero__title ">НПСПАБ</span>
                <p class="page-hero__desc page-hero__desc_size_s">Незалежна професійна спілка<br/> працівників авіаційної безпеки</p>
            </div>
        </section>
        <div class="page-content-wrapper page-content-wrapper_news">
            <section class="features-cards">
                <article class="text-card text-card_no_img features-cards__text-card">
                    <span class="text-card__title">Авио тема до 50 символов</span>
                    <p class="text-card__desc">Авио тема до 50 символов Авио тема до 50 символов Авио тема до 50 символов</p>
                </article>
                <article class="text-card features-cards__text-card">
                    <span class="text-card__title">Авио тема до 50 символов</span>
                    <p class="text-card__desc">Авио тема до 50 символов Авио тема до 50 символов Авио тема до 50 символов</p>
                </article>
                <article class="text-card features-cards__text-card">
                    <span class="text-card__title">Авио тема до 50 символов</span>
                    <p class="text-card__desc">Авио тема до 50 символов Авио тема до 50 символов Авио тема до 50 символов</p>
                </article>
            </section>
        </div>
        <section class="news">
            <header class="page-content-wrapper page-content-wrapper_news news__header">
                <h1 class="news__section-heading">Новини</h1>
                <nav class="nav news__nav">
                    <a class="nav__link nav__link_size_md nav__link_theme-dark nav__link_theme-dark_active last_news">Останні</a>
                    <a class="nav__link nav__link_size_md nav__link_theme-dark relevant-news">Актулаьні</a>
                    <a class="nav__link nav__link_size_md nav__link_theme-dark union-news">Про профспілку</a>
                </nav>
            </header>
            <div class="news__items page-content-wrapper page-content-wrapper_news" id="news-div">
                {% set counter = 0 %}
                {% for article in news %}
                    {% if counter < 3 %}
                    <article class="feed-card news__feed-card {% if counter == 0 %}news__feed-card_main{% endif %}">
                        <a class="news-href" href="{{ path('news_post', {'slug': article.slug}) }}">
                        <div class="feed-card__img-wrapper">
                                <img class="feed-card__img" src="/uploads/{{ article.image }}" alt="{{ article.title }}">
                                <time class="feed-card__date-label" datetime="2019-10">{{ article.created_at }}</time>
                        </div>
                        <span class="feed-card__title">{{ article.title }}</span>
                        <p class="feed-card__text">{{ article.short_description|raw }}</p>
                        </a>
                    </article>
                    {% set counter = counter+1 %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="view_all">
                <a href="{{ path('news_main') }}">
                    Дивитись всі
                </a>
            </div>
        </section>
        <section class="contacts contacts_news page-content-wrapper page-content-wrapper_news" id="contacts">
            <h2 class="contacts__section-title">Контакти</h2>
            <div class="contacts__subsections">
                <div class="contacts__subsection">
                    <span class="contacts__subsection-title">Телефон</span>
                    <a class="contacts__link" href="tel:0442817199">{{ settings('landline_phone') }}</a>
                    <a class="contacts__link" href="tel:+(380)632688240">{{ settings('mobile_phone') }}</a>
                </div>
                <div class="contacts__subsection contacts__subsection_w_margin">
                    <span class="contacts__subsection-title">Адреса</span>
                    <address class="contacts__text">{{ settings('address') }}</address>
                </div>
                <div class="contacts__subsection">
                    <span class="contacts__subsection-title">E-mail</span>
                    <a class="contacts__link" href="mailto:npspab@ukr.net">{{ settings('email') }}</a>
                </div>
            </div>
        </section>
        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let div_news = {{ news|json_encode|raw }};
    </script>
    <script src="{{ asset('js/home_page.js') }}?v=1.0"></script>
{% endblock %}

