<header class="page-header">
    <a href="{{ path('cms_page_index') }}">
        <img class="logo logo_size_lg page-header__logo" src="/img/logo.png" alt="Логотип НПСПАБ">
    </a>
    <nav class="nav page-header__nav">
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="{{ path('cms_page_index') }}">Головна</a>
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="{{ path('news_main') }}">Новини</a>
        {% for category in categories %}
            <a class="nav__link nav__link_size_md nav__link_theme-light" href="{{ path('category_main', {'slug': category.slug}) }}">{{ category.title }}</a>
        {% endfor %}
        <a class="nav__link nav__link_size_md nav__link_theme-light" href="{{ path('cms_page_index') }}#contacts">Контакти</a>

    </nav>
    <span class="page-hero__nav-toggle"></span>
</header>
