{% extends 'public.html.twig' %}
{% block title %}
    {{ post.title }}
{% endblock %}
{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css?v=1.0">
    <link rel="stylesheet" href="/css/single-post-page.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css?v=1.0">
    <link rel="stylesheet" href="/css/media-queries/single-post-page_responsive.css?v=1.0">
{% endblock %}
{% block body %}
    {% include 'elements/mobile_header.html.twig' %}
    <div class="single-chill_wrapper page-wrapper">
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
                {% include 'elements/header.html.twig' %}
            </div>
        </section>
        <div class="post_wrapper">
            <div class="post_wrapper-content">
                <img class="post_img" src="/uploads/{{ post.mainPhoto }}" alt="">
                <div class="post">
                    <div class="post_title">
                        {{ post.title }}
                    </div>
                    <div class="post_text" style="font-family: FuturaMediumC, sans-serif;">
                        {{ post.description|raw }}
                    </div>
                    <div class="post_date">
                            {{ post.createdAt|date('Y-m-j') }}
                    </div>
                </div>
            </div>
        </div>
        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}


{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script>#}
{#        $('iframe').each(function () {#}
{#            $(this).css('width', '95vw');#}
{#        })#}
{#    </script>#}
{#{% endblock %}#}