{% extends 'admin/admin_base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('magicsuggest') }}
{% endblock %}

{% block content %}
    <div id="recommending-group" class="form-group" style="display: none">
        <label>Файли</label>
        <div id="recommending"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Додати Сторінку</h2>
            <div class="card ">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.title,{
                            'attr': {
                                'class': 'textarea form-control'
                            }
                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.short_description ,{
                            'attr': {
                                'class': 'form-control',
                                'placeholder':'Кр. Опис',
                                'rows': 10
                            },

                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.description,{
                            'attr': {
                                'class': 'form-control',
                                'placeholder':'Опис',
                                'rows': 10
                            },

                        }) }}
                    </div>
                    <div class="form-group">
                        Категорія
                        {{ form_widget(form.category,{
                            'attr': {
                                'class': 'form-control',
                                'placeholder':'Опис',
                                'rows': 10
                            },

                        }) }}
                    </div>
                    <div class="form-file-upload form-file-simple">
                        Увага, дане зображення буде відображатися тільки у разі, якщо категорія до якої прив’язана дана сторінка буде мати шаблон "Відпочинок"
                        {{ form_widget(form.image,{
                            'attr': {
                                'class': 'form-control inputFileVisible ',
                                'placeholder':'Фото',
                                'rows': 10
                            },

                        }) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.files,{
                            'attr': {
                                'placeholder':'Файлы',
                            },

                        }) }}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Ok
                        </button>
                    </div>
                </div>
                {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('magicsuggest') }}
    {{ encore_entry_script_tags('create_article') }}
{% endblock %}

