{% extends 'public.html.twig' %}
{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 2</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/laws-page.css">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css">
    <link rel="stylesheet" href="/css/media-queries/laws-page_responsive.css">
{% endblock %}
{% block body %}
    {% include 'elements/mobile_header.html.twig' %}
    <div class="laws_page-wrapper">
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
               {% include 'elements/header.html.twig' %}
            </div>
            <div class="plane_wrapper">
                <img src="/img/plane2.png" alt="">
            </div>
        </section>
        <div class="page-content_nav-wrapper">
            <div class="page-content_nav-wrapper_title">
                {{ category.title }}
            </div>
            <nav>
                {% for article in articles %}
                <a data-id="{{ article.id }}" class="switch-article {% if loop.first %}navbar_link-active{% endif %}">
                    {{ article.title }}
                </a>
                {% endfor %}
            </nav>
        </div>
        <div class="laws-content_wrapper">
            <div class="wrap laws-wrap">
                <div class="laws-content_wrapper_text">
                    {% set first_article = articles|first %}
                    {% if first_article is not empty %}
                        {{ first_article.description }}
                    {% endif %}
                </div>
                <div id="files">
                    {% if first_article is not empty %}
                        <div class="files_wrap">
                            {% for file in  first_article.files %}
                                <div class="file">
                                    {{ file.name }}
                                    <div class="manipulations">
                                        <a href="/uploads/{{ file.path }}" download> Скачать </a>
                                        <a href="/uploads/{{ file.path }}" target="_blank"> Открыть </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% include 'elements/post_with_sidebar.html.twig' %}
        </div>
        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        let articles = {{ articles|json_encode|raw }};
    </script>
    <script src="{{ asset('js/category.js') }}"></script>
{% endblock %}
