{% extends 'public.html.twig' %}
{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page 3</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/med-page.css">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css">
    <link rel="stylesheet" href="/css/media-queries/med-page_responsive.css">
{% endblock %}
{% block body %}
    {% include 'elements/mobile_header.html.twig' %}
    <div class="med-page_wrapper">
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
                {% include 'elements/header.html.twig' %}
            </div>
            <div class="plane_wrapper">
                <span class="page-hero__title ">{{ category.title }}</span>
                <img src="/img/plane3.png" alt="">
            </div>
        </section>
        <nav class="medical_nav">
            {% for article in articles %}
                <a data-id="{{ article.id }}" class="switch-article {% if loop.first %}navbar_link-active{% endif %}">
                    {{ article.title }}
                </a>
            {% endfor %}
        </nav>
        {% set first_article = articles|first %}
        <div class="laws-content_wrapper_title">
            {% if first_article is not empty %}
                {{ first_article.title }}
            {% endif %}
        </div>
        <div class="laws-content_wrapper">
            <div class="wrap medical-wrap">
                <div class="laws-content_wrapper_text">
                    {% set first_article = articles|first %}
                    {% if first_article is not empty %}
                        {{ first_article.description }}
                    {% endif %}
                </div>
                <div id="files">
                    {% if first_article is not empty %}
                        <div class="files_wrap">
                            {% for file in  first_article.files %}
                                <div class="file">
                                    {{ file.name }}
                                    <div class="manipulations">
                                        <a href="/uploads/{{ file.path }}" download> Скачать </a>
                                        <a href="/uploads/{{ file.path }}" target="_blank"> Открыть </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% include 'elements/post_with_sidebar.html.twig' %}
        </div>
        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>
    $('.page-hero__nav-toggle').on('click', function () {
        $('.page-hero__nav-toggle').toggleClass('active');
        $('#sidebar').slideToggle();
    })


</script>
    {{ parent() }}
    <script>
        let articles = {{ articles|json_encode|raw }};
    </script>
    <script src="{{ asset('js/category.js') }}"></script>
{% endblock %}
