{% extends 'public.html.twig' %}
{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/single-chill-page.css">
    <link rel="stylesheet" href="/css/media-queries/main_responsive.css">
    <link rel="stylesheet" href="/css/media-queries/single-chill-page_responsive.css">
{% endblock %}
{% block body %}
    <div class="single-chill_wrapper">
        {% include 'elements/mobile_header.html.twig' %}
        <section class="page-hero page-hero_news">
            <div class="page-hero__container">
                {% include 'elements/header.html.twig' %}
            </div>
            <div class="page_title">
                {{ category.title }}
            </div>
        </section>
        <div class="hotel_wrapper">
            {% for article in articles %}
            <div class="hotel_wrapper-content">
                <div class="hotel-content_title">
                    <img class="hotel_img" src="/uploads/{{ article.image }}" alt="">
                    <span>
                        {{ article.title }}
                    </span>
                </div>
                <div class="hotel_text">
                    {{ article.description }}
                </div>
                <div class="view_more">
                    {% for file in article.files %}
                    <div class="file">
                        {{ file.name }}
                        <div class="manipulations">
                            <a href="/uploads/{{ file.path }}" download> Скачать </a>
                            <a href="/uploads/{{ file.path }}" target="_blank"> Открыть </a>
                        </div>
                    </div>
                    <br>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% include 'elements/footer.html.twig' %}
    </div>
{% endblock %}
